<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="nav">
        <h1>Test App</h1>
        <h3><a href="">Home</a></h3>
        <h3><a href="signin">Sign in</a></h3>
    </div>

    <div class="mid">
        <h1>Welcome to the Test</h1>
        <h2>We're going to build a cool application using MVC framework! THis application was built with the Village88 folks!</h2>
        <button type='submit'>Start</button>
    </div>

    <div class="footer">
        <div class="content">
            <h2>Manage Users</h2>
            <h3>Using this application, you'll learn how to add, remove, and edit users for the application.</h3>
        </div>
        <div class="content">
            <h2>Leave messages</h2>
            <h3>Users will be able to leave a message to another user using this application.</h3>
        </div>
        <div class="content">
            <h2>Edit User Information</h2>
            <h3>Admins will be able to edit another user's information (email, address, first name, last name, etc)</h3>
        </div>
    </div>
</body>
</html>